h1,
h2,
h3,
p {
    font-family: 'Open Sans', sans-serif, Verdana, Geneva, Tahoma;
    font-weight: 400;
}

h1 {
    font-size: 1em;
    margin-top: auto;
    margin-bottom: auto;
}

h2 {
    font-size: 0.7em;
    margin-top: 0px;
}

p {
    font-size: 0.8em;
}

span {
    font-weight: 600;
}

body {
    margin: 0px;
} 

header,
main,
.card-container img {
    width: 100%;
}

.header-content,
.card-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.header-content {
    width: 100%;
    height: 100%;
    padding: 20px 40px;
}

header {
    height: 40vh;
}

main {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    background-color: rgb(238, 238, 238);
    justify-content: center;
    padding: 50px 0;
}

.card-container {
    margin: 20px;
    scale: 1 / 1;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.285);
    max-width: 550px;
    transition: transform 0.2s ease-in-out; 
}
  
.card-container:hover {
    transform: scale(1.05); 
}

.card-container img {
    border-radius: 10px 10px 0px 0px;
    padding: 12% 20% 0px 20px;
    box-sizing: border-box;
    transition: filter 0.1s ease-in-out;
}

.card-container img:hover {
    filter: brightness(115%); 
}

.card-container img:active {
    filter: brightness(85%); 
}

.card-container1 img {
    background-color: #b82f7a;
}

.card-container2 img {
    background-color: #4940a8;
}

.card-container3 img {
    background-color: #2ea970;
}

.card-container p {
    padding-left: 20px;
    padding-right: 20px;
}

.card-container a {
    text-decoration: none;
    font-weight: 600;
}

.card-container a:hover {
    text-decoration: underline;
}

.card-container1 a {
    color: #b82f7a;
}

.card-container2 a {
    color: #594dd7;
}

.card-container3 a {
    color: #248558;
}

footer {
    height: 50px;
    display: flex;
    align-items: center;
     justify-content: center;
}

footer div {
    text-align: center;
  }